In [14]:
import glob
import pandas as pd
import pandasql
import numpy as np

# Reddit Data: Summary Statistics

In [4]:
yahoo_reddit_file = glob.glob("C:/Users/Chris/Documents/Project/Reddit Data/yahoo_*.csv")[0]
samsung_reddit_file = glob.glob("C:/Users/Chris/Documents/Project/Reddit Data/samsung_*.csv")[0]
galaxy_reddit_file = glob.glob("C:/Users/Chris/Documents/Project/Reddit Data/Galaxy*.csv")[0]

In [5]:
yahoo_reddit = pd.read_csv(filepath_or_buffer = yahoo_reddit_file, encoding='utf-8')
samsung_reddit = pd.read_csv(filepath_or_buffer = samsung_reddit_file, encoding='utf-8')
galaxy_reddit = pd.read_csv(filepath_or_buffer = galaxy_reddit_file, encoding='utf-8')

## Total Number of Comments

In [6]:
qr = """
SELECT COUNT(*)
  FROM yahoo_reddit
"""

pandasql.sqldf(qr, globals())

   COUNT(*)
0       342

In [18]:
qr = """
SELECT COUNT(*)
  FROM samsung_reddit
"""

pandasql.sqldf(qr, globals())

   COUNT(*)
0      4606

In [20]:
qr = """
SELECT COUNT(*)
  FROM galaxy_reddit
"""

pandasql.sqldf(qr, globals())

   COUNT(*)
0     12718

## Total Number of Submissions

In [7]:
qr = """
SELECT COUNT(DISTINCT title)
  FROM yahoo_reddit
"""

pandasql.sqldf(qr, globals())

   COUNT(DISTINCT title)
0                    196

In [21]:
qr = """
SELECT COUNT(DISTINCT title)
  FROM samsung_reddit
"""

pandasql.sqldf(qr, globals())

   COUNT(DISTINCT title)
0                    901

In [22]:
qr = """
SELECT COUNT(DISTINCT title)
  FROM galaxy_reddit
"""

pandasql.sqldf(qr, globals())

   COUNT(DISTINCT title)
0                    992

## Average Number of Comments per Submission

In [11]:
qr = """
SELECT AVG(count)
  FROM (
       SELECT title, COUNT(*) AS count
         FROM yahoo_reddit
       GROUP BY title
  )
  
"""

pandasql.sqldf(qr, globals())

   AVG(count)
0    1.744898

In [23]:
qr = """
SELECT AVG(count)
  FROM (
       SELECT title, COUNT(*) AS count
         FROM samsung_reddit
       GROUP BY title
  )
  
"""

pandasql.sqldf(qr, globals())

   AVG(count)
0    5.112098

In [24]:
qr = """
SELECT AVG(count)
  FROM (
       SELECT title, COUNT(*) AS count
         FROM galaxy_reddit
       GROUP BY title
  )
  
"""

pandasql.sqldf(qr, globals())

   AVG(count)
0   12.820565

## Median Number of Comments per Submission

In [19]:
qr = """
       SELECT title, COUNT(*) AS count
         FROM yahoo_reddit
       GROUP BY title
  
"""

post_per_title = pandasql.sqldf(qr, globals())
print np.median(post_per_title["count"])

1.0

In [25]:
qr = """
       SELECT title, COUNT(*) AS count
         FROM samsung_reddit
       GROUP BY title
  
"""

post_per_title = pandasql.sqldf(qr, globals())
print np.median(post_per_title["count"])

4.0

In [26]:
qr = """
       SELECT title, COUNT(*) AS count
         FROM galaxy_reddit
       GROUP BY title
  
"""

post_per_title = pandasql.sqldf(qr, globals())
print np.median(post_per_title["count"])

9.0

# Wikipedia Data: Summary Statistics

In [28]:
yahoo_wiki_file = glob.glob("C:/Users/Chris/Documents/Project/Wikipedia Data/wikipedia_edits_Yahoo!.csv")[0]
yahoo_criticism_wiki_file = glob.glob("C:/Users/Chris/Documents/Project/Wikipedia Data/wikipedia_edits_Criticism_of_Yahoo!.csv")[0]
yahoo_data_wiki_file = glob.glob("C:/Users/Chris/Documents/Project/Wikipedia Data/wikipedia_edits_Yahoo!_data_breach.csv")[0]
samsung_wiki_file = glob.glob("C:/Users/Chris/Documents/Project/Wikipedia Data/wikipedia_edits_Samsung.csv")[0]
samsung_elec_wiki_file = glob.glob("C:/Users/Chris/Documents/Project/Wikipedia Data/wikipedia_edits_Samsung_Electronics.csv")[0]
samsung_galaxy_wiki_file = glob.glob("C:/Users/Chris/Documents/Project/Wikipedia Data/wikipedia_edits_Samsung_Galaxy_Note_7.csv")[0]

In [30]:
yahoo_wiki = pd.read_csv(filepath_or_buffer = yahoo_wiki_file, encoding='utf-8')
yahoo_criticism_wiki = pd.read_csv(filepath_or_buffer = yahoo_criticism_wiki_file, encoding='utf-8')
yahoo_data_wiki = pd.read_csv(filepath_or_buffer = yahoo_data_wiki_file, encoding='utf-8')
samsung_wiki = pd.read_csv(filepath_or_buffer = samsung_wiki_file, encoding='utf-8')
samsung_elec_wiki = pd.read_csv(filepath_or_buffer = samsung_elec_wiki_file, encoding='utf-8')
galaxy_wiki = pd.read_csv(filepath_or_buffer = samsung_galaxy_wiki_file, encoding='utf-8')

## Total Number of Edits

In [31]:
qr = """
SELECT COUNT(*)
  FROM yahoo_wiki
"""

pandasql.sqldf(qr, globals())

   COUNT(*)
0       154

In [32]:
qr = """
SELECT COUNT(*)
  FROM yahoo_criticism_wiki
"""

pandasql.sqldf(qr, globals())

   COUNT(*)
0        15

In [33]:
qr = """
SELECT COUNT(*)
  FROM yahoo_data_wiki
"""

pandasql.sqldf(qr, globals())

   COUNT(*)
0       169

In [34]:
qr = """
SELECT COUNT(*)
  FROM samsung_wiki
"""

pandasql.sqldf(qr, globals())

   COUNT(*)
0        92

In [35]:
qr = """
SELECT COUNT(*)
  FROM samsung_elec_wiki
"""

pandasql.sqldf(qr, globals())

   COUNT(*)
0       219

In [36]:
qr = """
SELECT COUNT(*)
  FROM galaxy_wiki
"""

pandasql.sqldf(qr, globals())

   COUNT(*)
0       665